* {
    box-sizing: border-box;
    font-family: comic-sans, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

/* || General Section */

@font-face {
    font-family: comic-sans;
    src: url(../misc/ComicSans/LDFComicSans.ttf);
}

a:link,
a:visited { 
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    font-size: 20px;
    transition-duration: 0.4s;
}

a:hover {
    color: #ff69b4;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    padding: 7px 20px;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #ff69b4;
}

img {
    max-width: 600px;
    min-width: 0;
}

/* || Header Section */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 15px 15px 0 15px;
}

.hero .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header .header-links {
    display: flex;
    gap: 20px;
    padding: 30px 0;
}

.hero .description {
    display: flex;
    padding: 100px 0;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.description .details {
    display: flex;
    flex: auto;
    flex-flow: column wrap;
    align-items: flex-start;
    color: #e5e7eb;
    max-width: 600px;
    font-size: 25px;
    row-gap: 25px;
}

.description .details h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.description img {
    flex: auto;
    width: 100%;
}

.description .details > * {
    margin: 0;
}

/* || Favorites Showcase Section */

.favorites-collection {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.favorites-collection h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 30px;
}

.favorites-collection .showcase {
    display:flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 30px 100px 30px;
}

.showcase .item {
    max-width: min-content;
    margin: 0;
    font-size: 25px;
}

.showcase .item img { 
    max-width: 300px;
    border: 6px #3882f6 solid;
    border-radius: 15px;
}

/* || Quote Section */

.blockquote {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 100px;
}

blockquote {
    max-width: 900px;
}

blockquote p {
    margin: 0;
}

blockquote .quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.blockquote .quote-2 {
    margin-top: 13px;
}

blockquote .author {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    padding: 15px;
}

/* Call-To-Action Section */

.call-to-action {
    display:flex;
    justify-content: center;
    margin: 100px;
}

.call-to-action .ad-box {
    display: flex;
    padding: 0 50px;
    background-color: #3882f6;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ad-box .details {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 30px;
    row-gap: 10px;
    font-size: 20px;
    color: #f9faf8;
}

.ad-box .details h4 {
    font-size: 23px;
}

.ad-box button {
    border: 3px #ffffff solid;
    border-radius: 15px;
    margin: 30px;
}

.ad-box .details > * {
    margin: 0;
}

/* || Footer Section */

